{:webserver/port #long #or [#env PORT 3000]
 :env #profile {:dev :dev
                :default :dev
                :prod :prod}
 :release "1.0.0"
 :logger {:min-level :info}
 :moclojer {:config-path #profile {:default "resources/moclojer.yml"
                                   :prod "moclojer.yml"}
            :join? #profile {:default false
                             :dev false
                             :prod true}}
 :storage {:access-key-id #or [#env AWS_ACCESS_KEY_ID "foo"]
           :secret-access-key #or [#env AWS_SECRET_ACCESS_KEY "bar"]
           :region #or [#env AWS_REGION "us-east-1"]
           :protocol #profile {:dev :http
                               :default :http
                               :prod :https}
           :port #profile {:dev 4566}
           :host #profile {:dev "localhost"
                           :default "localhost"
                           :prod #or [#env STORAGE_HOST "foobar.com"]}}
 :sentry {:env #profile {:dev "dev"
                         :prod "prod"
                         :default "prod"}
          :dns #or [#env SENTRY_AUTH_TOKEN "foobar"]}
 :opensearch {:username #or [#env OPENSEARCH_USERNAME "foobar"]
              :password #or [#env OPENSEARCH_PASSWORD "foobar"]
              :host #or [#env OPENSEARCH_HOST "foobar.com"]
              :port #or [#env OPENSEARCH_PORT 00000]
              :index "my-logs"}
 :mq  {:uri #or [#env MQ_URL "redis://localhost:6379"]}
 :database {:dbtype "postgres"
            :jdbc-url #or [#env DATABASE_URL "postgresql://localhost:5432/postgres?user=postgres&password=postgres"]}}
